@media all and (max-width:5000px) and (min-width : 768px) {


#pagemain-navigation-main-custom-btn {
    background: #446658;
    color: #ffffff;
    border-radius: 3px;
    border: 2px solid black;
    padding: 1em 1em;
    font-family: 'Lato bold',sans-serif !important;
    display: flex;
    justify-content: center;
    min-width: 15%;
    max-width: 25%;
    margin-right: -1px;
    font-size: 0.85em;
    border-radius: 10px;
  }

  #pagemain-navigation-main-custom-btn:hover{
   /* background: #c3c9a0;
    color: black;*/
    text-decoration: underline;
  }

  #pagemain-navigation-main-custom-btn-selected {
    background:  #bda96d;
    color: black;
    border-radius: 3px;
    border: 2px solid black;
    padding: 1em 1em;
    font-weight: bold !important;
    font-family: 'Lato bold',sans-serif !important;
    display: flex;
    justify-content: center;
    min-width: 15%;
    max-width: 25%;
    border-radius: 10px;
    font-size: 0.85em;
    border-color: black;
  }

  #pagemain-navigation-main-custom-btn-selected:hover {
    text-decoration: underline;
  }

  #pagemain-navigation-searchbox {
      width: 60%;
      height:1em;
      padding: 1em 1em;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      margin-left: 1.5em;
      margin-right: 1em;
      border-radius: 10px;
      display: flex;
      font-family: 'Lato bold',sans-serif !important;

  }

  #pagemain-navigation-searchbox-btn {
    min-width: 10%;
    max-width: 18%;
    height: 3em;
    margin-top: 1.75em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1.5em;
    border-radius: 10px;
    background:  #bda96d;
    color: black;
    border-color: black;
    font-family: 'Lato bold',sans-serif !important;
    justify-content: center;
    font-size: 0.80em;
    
  }

  #pagemain-navigation-searchbox-btn:hover{
    font-weight: bold !important;
    text-decoration: underline;
    border: 2px solid !important;
  }


  #pagemain-jobtable-details-btn{
    width: 100%;
    padding:0.5em 0.5em;
    white-space: nowrap;
    background-color: #F4FBFE;
    font-weight: bold;
    color: black;
    border-radius: 3px;
    font-family: 'PT Serif Regular',serif !important;
    text-decoration: underline;
  }

  #pagemain-jobtable-details-btn:hover{

    text-decoration: underline;
 
  }

  #pagemain-mainnavigation-background{
    margin-left: -1em;
    margin-right: -1em;
    background-color: #78acaf;
  }

  #pagemain-sidenavigation-header{
    color: #F4FBFE;
    background-color: #446658;
    width: 100%;
    vertical-align: middle;
    border-block-color: black;
    border-width: 0.1em;
    margin-top: 0.1em;
    font-size: 0.55em;
    border : 2px solid black;
    font-family: 'Lato bold',sans-serif !important;
    font-weight: bold !important;
  }


  .page-item.active .page-link{
    
    color: black;
    background: #bda96d;
    font-family: arial,sans-serif;
    border-color: black;

  }



  .page-link{
    
    color: black;
    background: #446658;
    color: #F4FBFE;
    font-family: arial,sans-serif;

  }

  .page-link:hover{
    color: black;
    background: #446658;
    color: #F4FBFE;
    font-family: arial,sans-serif;
    text-decoration: underline;
  }


  .react-bootstrap-table table {
    table-layout: auto;
  }


  .row {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;

   }

   .table td, .table th {
    vertical-align: middle;
  }

  .mainpage-table-txt-design{
    font-family: 'PT Serif Regular',serif !important;
    font-size: 1em;
  }
   
  }


  @media all and (max-width:767px) {


    #pagemain-navigation-main-custom-btn {
        background: #446658;
        color: #ffffff;
        border-radius: 3px;
        border: 2px solid black;
        padding: 1em 1em;
        font-family: arial,sans-serif;
        display: flex;
        justify-content: center;
        width: 33.333333%;
        
        margin-right: -1px;
        font-size: 2.5vw;
      }
    
      #pagemain-navigation-main-custom-btn:hover{
       /* background: #c3c9a0;
        color: black;*/
        text-decoration: underline;
      }
    
      #pagemain-navigation-main-custom-btn-selected {
        background:  #bda96d;
        color: black;
        border-radius: 3px;
        border: 2px solid black;
        padding: 1em 1em;
        font-family: arial,sans-serif;
        display: flex;
        justify-content: center;
        width: 33.333333%;
     
        font-size: 2.5vw;
      }
    
      #pagemain-navigation-main-custom-btn-selected:hover {
        text-decoration: underline;
      }
    
      #pagemain-navigation-searchbox {
          width: 85%;
          padding: 1em 1em;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 1em;
          margin-right: 1em;
          border-radius: 8px;
          display: flex;
          font-family: arial,sans-serif;
          font-size: 2.5vw;
      }
    
      #pagemain-navigation-searchbox-btn {
        width: 15%;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 8px;
        background-color: #446658;
        
        border: 5px  black;
        font-family: arial,sans-serif;
        justify-content: center;
        font-size: 2.5vw;
        display: flex;
        padding:1em 1em;
      }

      #pagemain-navigation-searchbox-btn:hover{
        text-decoration:underline;
      }
    
    
      #pagemain-jobtable-details-btn{
        width: 100%;
        white-space: nowrap;
        background-color: #F4FBFE;
        font-weight: bold;
        color: black;
        padding: 0.5em 0.5em;
        font-family: arial,sans-serif;
        text-decoration: underline;
      }
    
   
      #pagemain-mainnavigation-background{
        background-color: #78acaf;
      }

      #pagemain-sidenavigation-header{
        color: #F4FBFE;
        background-color: rgb(68, 102, 88);
        width: 100%;
        height: 47px;
        padding: 1em 1em;
            padding-top: 1em;
        vertical-align: middle;
        border-block-color: black;
        border-width: 10px;
        padding-top: 9px;
        margin-top: 10px;
        font-size: .66em;
        border : 2px solid black
      }
    
    
      .page-item.active .page-link{
        
        color: black;
        background: #bda96d;
        font-family: arial,sans-serif;
        border-color: black;
    
      }
    
      .page-link{
        
        color: black;
        background: #446658;
        color: #F4FBFE;
        font-family: arial,sans-serif;
    
      }

      .page-link:hover{
        color: black;
        background: #446658;
        color: #F4FBFE;
        font-family: arial,sans-serif;
        text-decoration: underline;
      }
    
    
      .react-bootstrap-table table {
        table-layout: auto;
      }
    
    
      .row {
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;

       }

       .table td, .table th {
         vertical-align: middle;
       }
       
      }